<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @channel.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @channel.message %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @channel.topic %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
